<ul>
  <li><h3>Ducks</h3></li>
  <li><%= link_to 'List Ducks', ducks_path %></li>
  <li><%= link_to 'New Duck', new_duck_path %></li>
  <%= new_resource_link @duck %>
  <%= new_duck_duck_struct_link @duck %>

  <li><h3>Duck Structs</h3></li>
  <li><%= link_to 'List Duck Structs', duck_structs_path %></li>
  <li><%= link_to 'New Duck Struct', new_duck_struct_path %></li>
  <%= new_primitive_link @duck_struct %>
</ul>
<hr />
