<ul>
  <li><h3>Shapes</h3></li>
  <li><%= link_to 'List Shapes', shapes_path %></li>
  <li><%= link_to 'New Shape', new_shape_path %></li>
  <%= new_resource_link @shape %>
  <%= new_shape_shape_struct_link @shape %>

  <li><h3>Structs</h3></li>
  <li><%= link_to 'List Shape Structs', shape_structs_path %></li>
  <li><%= link_to 'New Shape Struct', new_shape_struct_path %></li>
  <%= new_primitive_link @shape_struct %>
</ul>
<hr />
