<span class="liContent deleteConfirm">
  <%= resource_indentation resource.depth %>
  <%= show_resource_name resource.name %>
  <%= show_resource_ident resource.ident %>
  <span class="text">Delete this Rescource?</span>
  <span class="icons">
  <%= link_to_confirm_delete_resource params %>
  <%= link_to_cancel_delete_resource %>
  </span>
</span>
