<% unless resource.base? %>
<span class="liContent liContentWithHover">
  <%= resource_indentation resource.depth %>
  <% struct_name = resource.struct_name if(resource.respond_to? :struct_name) %>
  <%= show_resource_name resource.name, struct_name %>
  <%= show_resource_ident resource.ident %>
  <%= link_to_fold_resource resource %>
  <span class="text resourcePreview <%= resource.name %>">
  <%= resource.preview %>
  </span>
  <span class="icons">
    <%= link_to_new_resource resource %>
    <%= link_to_show_constraints resource %>
    <%= link_to_handle resource %>
    <%= link_to_edit_resource resource %>
    <%= link_to_delete_resource resource %>
  </span>
</span>
<% end %>
<% ul_id = ul_css_id resource.path %>

<ul class="shapes<%= resource.name %> shapesSortableList folder" id="<%= ul_id %>" >
<%   
  # unfold children for base resource or noscript version
%>
<% if @noscript || resource.base? %>
  <%= render :partial => '/shapes/resources/li', :collection => resource.children, :as => :resource %>
  <%= javascript_tag "ShapesSortableUl.createSortable('#{ ul_id }', '#{ resource.path }');" %>
<% end %>
</ul>
