<span class="liContent newFormHeadline">
  <%= resource_indentation @resource.parent.depth %>
  <%= show_resource_name @resource.parent.name %>
  <%= show_resource_ident @resource.parent.ident %>
</span>
<span class="formContainer newForm" style="padding-left:<%= resource_form_indentation @resource.depth - 1 %>px">
  <span class="form">
    <%= error_messages_for  'shape' %>
    <% resource_form @shape, @resource, :new do |form| %>
      <span class="formBlock">
        <%= hidden_field_tag 'type', params[:type] %>
        <label for="resource_ident">Ident </label>
        <%= text_field :resource, :ident, { :class => 'textField' } %>
      </span>
      <span class="formBlock">
        <label for="resource_description">Description </label>
        <%= text_field :resource, :description, { :class => 'textField' } %>
      </span>
      <%= render :partial => "/shapes/resources/#{@resource.underscored_name}/form" %>
      <span class="formBlock">
        <label for="submit">&nbsp;</label>
        <input type="image" value="Save" name="commit" class="submitForm" id="submit" src="/shapes/images/icons/confirm_li_hover.png" />      
        <%= link_to_cancel_form %>
      </span>
    <% end %>
  </span>
</span>
